body {
    font-family: 'Barlow', sans-serif;
    background-color: #EFF6FF;
    padding: 100px;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 1500px;
    background-color: white;
}

.picture {
    display: flex;
    justify-content: left;
}

.main {
    display: flex;
    flex-direction: column;
    width: 550px;
    padding: 60px;
}

h1 {
    color: #2A4A5C;
    font-size: 40px;
    font-weight: bold;
    text-align: left;

    margin-top: 80px;
}

h2 {
    color: #7B8A92;
    font-size: 20px;
    margin-top: -10px;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.btn1 {
    width: 250px;
    height: 40px;
    border: none;
    color: white;
    background: #255A9B;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 15px;
}

.btn1:hover {
    background-color: #133258;
}

.btn2 {
    width: 250px;
    height: 40px;
    border: none;
    color: white;
    background: #0076B6;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 15px;
}

.btn2:hover {
    background-color: #025988;
}

.svg {
    width: 20px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.or {
    font-size: 15px;
    display: flex;
    justify-content: center;
    padding: 40px;
    text-transform: uppercase;
    font-weight: bold;
    color: #2A4A5C;
}

.or:after {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    opacity: 0.2;

    position: relative;
    top: 10px;
    left: 20px;

    background-color: black;
}

.or:before {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    opacity: 0.33;

    position: relative;
    top: 10px;
    right: 20px;

    background-color: black;
}

.input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input1 {
    font-size: 16px;
    border: 1px solid #585858;
    border-radius: 3px;
    padding-left: 10px;
    padding-top: 5px;
    opacity: 0.5;
    width: 240px;
    height: 50px;
}

.input2 {
    font-size: 16px;
    border: 1px solid #585858;
    border-radius: 3px;
    padding-left: 10px;
    padding-top: 5px;
    opacity: 0.5;
    width: 240px;
    height: 50px;
}

.input1:focus {
    background-color: #fff;
    border-color: #0076B6;
    outline: 0;
    box-shadow: -2px 0 0 1px rgb(0, 70, 221);
}

.input2:focus {
    background-color: #fff;
    border-color: #0076B6;
    outline: 0;
    box-shadow: -2px 0 0 1px rgb(0, 70, 221);
}

h3 {
    margin-top: 60px;
    font-weight: bold;
    font-size: 24px;
    color: #2A4A5C;
}

h4 {
    font-size: 16px;
    color: #7B8A92;
    margin-top: -10px;
}

.type {
    display: flex;
    width: 500px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    font-weight: bold;
}

.custom {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
  
.custom+label::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #7e7c7c;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 2px;
}
  
.custom:checked+label::before {
    border-color: #3698FB;
    background-color: #3698FB;
}


.check {
    margin-top: 100px;
    font-size: 15px;
    color: #2A4A5C;
}

.checkbox {
    margin-right: 10px;
    opacity: 0.8;
}


.btn3 {
    width: 250px;
    height: 40px;
    border: none;
    color: white;
    background: #3698FB;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
}

.btn3:hover {
    background-color: #1a7ee2;
}


[data-tooltip]{
    position: relative;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    width: 250px;
    padding: 10%;
    background: white;
    color: #2A4A5C;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
    box-shadow: 0 0 10px 5px #EEEEEE;
    pointer-events: none;
    opacity: 0;
    font-weight: 400;
}

[data-tooltip]:hover::after {
    opacity: 1;
    transition: 1s;
    top: 30px;
}